/* You can add global styles to this file, and also import other style files */
body{
	font-size: 16px;
}

button.item-list-device{
	min-width: 6em;
	border-radius: 0;
}

div.card{
	border: 0px;
	border-bottom: 0.2em solid #ccc;
}

div.card-body{
	padding: 0.4em;
}

button span.badge{
	float: right;
}

#devices-container{
	display: flex;
	flex-wrap: wrap;
}

#device-box
{
	margin-right: 0.4em;
	border: .1em solid #aaa;
	margin-top: 0.1em;
}